@page "/svg"
<PageTitle>Animace SVG</PageTitle>
<div>
    <button class="btn btn-primary" @onclick="PridatObrazec">Přidat obrazec</button>
    <button class="btn btn-warning">Odebrat poslední obrazec</button>
</div>

<svg class="my-3" width="@SvgWidth" height="@SvgHeight" xmlns="http://www.w3.org/2000/svg" style="border:black solid">
    @foreach (var item in SvgObrazceList)
    {
        switch (item)
        {
            case Models.Obdelnik obdelnik:
                <rect width="@obdelnik.StranaA" height="@obdelnik.StranaB" x="@obdelnik.PozX" y="@obdelnik.PozY"
                      style="fill:rgb(@obdelnik.Barva.R,@obdelnik.Barva.B,@obdelnik.Barva.G);stroke-width:3;stroke:black" />
                break;
            case Models.Ctverec ctverec:
                <rect width="@ctverec.StranaA" height="@ctverec.StranaA" x="@ctverec.PozX" y="@ctverec.PozY"
                      style="fill:rgb(@ctverec.Barva.R,@ctverec.Barva.B,@ctverec.Barva.G);stroke-width:3;stroke:black" />
                break;
            case Models.Kruh kruh:
                <circle r="@kruh.Polomer" cx="@kruh.PozX" cy="@kruh.PozY"
                        fill="rgb(@kruh.Barva.R,@kruh.Barva.B,@kruh.Barva.G)" stroke="black" stroke-width="3" />
                break;
        }
    }
    
</svg>

@code {

}
